* {
    margin: 0;
    padding: 0;
}

body {
    background-color: silver;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.container {
    border: 1px solid red;
    height: 700px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;

}

.square-column {
    background-color: antiquewhite;
    display: flex;
    flex: 1;


}

.square-row {
    background-color: antiquewhite;
    display: flex;
    border: 0.5px solid black;
    flex: 1;


}

